<md-dialog aria-label="Shared Lists"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Shared Lists</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list ng-cloak>
                <md-list-item ng-repeat="task in publicTasks">
                    <md-checkbox ng-init="task.acquire = task.owner.indexOf(user.id) != '-1'" ng-model="task.acquire" aria-label="Todo"></md-checkbox>
                    <p>{{task.name}}</p>
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <div class="md-actions">
            <span flex></span>
            <md-button>
                Save
            </md-button>
        </div>
    </form>
</md-dialog>

