<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
	<md-toolbar class="md-theme-light {{(taskList.color == 'white' || taskList.color == 'lightyellow') ? 'lightgray' : taskList.color}}-background">
		<h1 class="md-toolbar-tools {{(taskList.color == 'white' || taskList.color == 'lightyellow') ? 'darkgray' : 'white'}}">
			{{currentUser.firstName}} {{currentUser.name}}
		</h1>
	</md-toolbar>
	<md-divider ng-if="taskList.color == 'white' || taskList.color == 'lightyellow'"></md-divider>
	<md-content layout-padding>
		<md-list>
			<md-list-item ng-click="logout()">
				<p>Logout</p>
				<md-icon md-font-set="material-icons">exit_to_app</md-icon>
			</md-list-item>
		</md-list>
	</md-content>
</md-sidenav>

<header id="header" class="jh-sticky-header">
	<nav flex="20" flex-gt-lg="10" layout="row" layout-align="center center">
		<md-button class="nav-menu md-fab md-icon-button {{(taskList.color == 'white' || taskList.color == 'lightyellow') ? 'darkgray' : taskList.color}}-background" ng-click="toggleMenu();">
			<md-icon md-font-set="material-icons">list</md-icon>
		</md-button>
		<h4 class="{{(taskList.color == 'white' || taskList.color == 'lightyellow') ? 'darkgray' : taskList.color}}">Noed List</h4>
	</nav>

	<form name="todoForm" novalidate flex="80" flex-gt-md="70" layout="row" layout-align="center">
		<input type="text" class="md-whiteframe-1dp" placeholder="Add new list" ng-model="taskList.name" flex="75" flex-gt-md="50" required>
		<md-button class="md-icon-button md-primary" aria-label="Add a task list" ng-disabled="todoForm.$invalid" ng-click="add(taskList);">
			<md-icon md-font-set="material-icons">add_circle</md-icon>
		</md-button>

		<md-menu>
			<md-button class="md-icon-button {{taskList.color}}" aria-label="Options" ng-click="$mdOpenMenu()">
				<md-tooltip md-direction="bottom">Options</md-tooltip>
				<md-icon md-font-set="material-icons">settings</md-icon>
			</md-button>

			<md-menu-content width="4">
				<md-menu-item>
					<div role="button" class="md-button" md-ink-ripple>
						<md-checkbox class="md-warn" ng-model="taskList.public" aria-label="Public list" ng-disabled="!taskList.name">{{taskList.public ? 'Public' : 'Private'}} list</md-checkbox>
					</div>
				</md-menu-item>
				<md-menu-divider></md-menu-divider>
				<md-menu-item>
					<md-button aria-label="Select a color">
						<md-icon md-font-set="material-icons">color_lens</md-icon>
						Set color for the new list
					</md-button>
				</md-menu-item>
				<md-menu-item class="color-options">
					<ul layout="row" layout-align="center space-around">
						<li class="{{color}}-background md-whiteframe-1dp" ng-repeat="color in colors" ng-click="setColor(color)"></li>
					</ul>
				</md-menu-item>
				<md-menu-divider></md-menu-divider>
				<md-menu-item>
					<md-button aria-label="Shared Lists" class="md-primary" ng-click="showSharedListsDialog()">
						<md-icon md-font-set="material-icons">share</md-icon>
						Shared lists
					</md-button>
				</md-menu-item>

			</md-menu-content>
		</md-menu>
	</form>
</header>

<section id="content">
	<div ng-if="showLoading" layout="row" layout-sm="column" layout-align="center center">
		<md-progress-circular class="md-hue-3" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
	</div>
	<md-grid-list ng-if="!showLoading" md-row-height-gt-md="4:4" md-row-height="2:2" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5" md-gutter="12px" md-gutter-gt-sm="8px" >
		<md-grid-tile ng-repeat="list in taskLists | orderBy: list.todos.length" class="{{list.color || 'gray'}}-background" class="md-whiteframe-5dp" md-rowspan="2" md-colspan="1" md-colspan-sm="1">
			<md-grid-tile-header>
				<h3>{{list.name}}</h3>
			</md-grid-tile-header>

			<div ng-controller="TodoCtrl">
				<div class="btn-add-task">
					<md-button class="md-mini md-icon-button" ng-click="showAddTodoInput = !showAddTodoInput">
						<md-icon class="rotate rotate-45" ng-class="showAddTodoInput ? 'on' : 'off'" md-font-set="material-icons">add_circle</md-icon>
					</md-button>
				</div>

				<md-list class="todo-active" ng-cloak>
					<md-list-item class="add-task-input" ng-if="showAddTodoInput">
						<form name="f_addTodo" novalidate class="full-width" ng-submit="addTodo(list);">
							<md-input-container>
								<input type="text" ng-model="todo.name" aria-label="Todo name" required>
							</md-input-container>
						</form>
					</md-list-item>

					<md-list-item class="todos" ng-repeat="todo in list.todos | filter: {done: false}">
						<md-checkbox class="md-primary" ng-change="update(list, todo)" ng-model="todo.done" aria-label="Todo"></md-checkbox>
						<p ng-class="{'stroke-through': todo.done}">{{todo.name}}</p>
					</md-list-item>
				</md-list>

				<!-- finished todos -->
				<md-list class="todo-inactive" ng-if="list.todos.length > 0" ng-cloak>
					<md-list-item ng-click="showCheckedTodos = !showCheckedTodos">
						<md-icon class="material-icons rotate rotate-180" ng-class="showCheckedTodos ? 'on' : 'off'">keyboard_arrow_down</md-icon>
						<p>Finished todos</p>
					</md-list-item>
					<md-list-item class="todos" ng-if="showCheckedTodos" ng-repeat="todo in list.todos | filter: {done: true}">
						<md-checkbox class="md-primary" ng-change="update(list, todo)" ng-model="todo.done" aria-label="Todo"></md-checkbox>
						<p ng-class="{'stroke-through': todo.done}">{{todo.name}}</p>
						<md-button class="md-icon-button md-mini" ng-click="delete(list, todo);">
							<md-icon md-font-set="material-icons">delete</md-icon>
						</md-button>
					</md-list-item>
				</md-list>
			</div>

			<md-grid-tile-footer>
				<!-- own list -> shows private/public -->
				<md-list ng-if="list.owner[0] == currentUser.id" class="m-t-0" ng-cloak>
					<md-list-item>
						<p ng-bind="list.public ? 'Public' : 'Private'"></p>
						<md-switch class="m-r-0" ng-model="list.public" aria-label="Public list" ng-change="update(list)"></md-switch>
					</md-list-item>
				</md-list>

				<!-- shared list -->
				<md-list ng-if="list.owner[0] != currentUser.id" class="m-t-0" ng-cloak>
					<!-- filter the shared lists' owners -->
					<md-list-item ng-repeat="user in users | filter: {_id: list.owner[0]}:true">
						<md-button class="md-fab md-mini md-icon-button shared-list-avatar" aria-label="List shared from {{user.firstName}} {{user.name}}">
							<md-icon md-font-set="material-icons">person</md-icon>
							<md-tooltip md-direction="top">{{user.firstName}} {{user.name}}</md-tooltip>
						</md-button>
					</md-list-item>
				</md-list>
			</md-grid-tile-footer>
		</md-grid-tile>
	</md-grid-list>
</section>