<md-dialog class="shared-list-dialog" aria-label="Shared Lists" ng-cloak flex="40" flex-sm="85" flex-md="65">
	<md-toolbar>
		<div class="md-toolbar-tools {{(taskList.color == 'white' || taskList.color == 'lightyellow') ? 'lightgray' : taskList.color}}-background">
			<h2 ng-class="{'darkgray': (taskList.color == 'white' || taskList.color == 'lightyellow')}"><md-icon ng-class="{'darkgray': (taskList.color == 'white' || taskList.color == 'lightyellow')}" md-font-set="material-icons">share</md-icon> Shared Lists</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-font-set="material-icons">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-divider ng-if="taskList.color == 'white' || taskList.color == 'lightyellow'"></md-divider>

    <md-dialog-content>
		<md-content class="md-padding">
			Choose the lists you want to add to your list.
		</md-content>

		<div ng-if="publicLists.length === 0 && showWaiting" layout="row" layout-sm="column" layout-align="center center">
			<md-progress-circular class="md-hue-3" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
		</div>

		<p ng-if="publicLists.length === 0 && !showWaiting" layout="row" layout-align="center center">There is no shared list at the moment.</p>

		<md-list ng-if="publicLists.length > 0 && !showWaiting" class="m-t-0" ng-cloak>
			<!-- show only the shared lists from others -->
			<md-list-item ng-repeat="list in publicLists" ng-if="list.owner.indexOf(currentUser.id) < 0">
				<md-checkbox class="md-primary" aria-label="Todo" ng-click="addToLists(list)"></md-checkbox>
				<p>{{list.name}}</p>
				<span class="list-user" ng-repeat="user in users | filter: {_id: list.owner[0]}:true">
					<md-icon class="gray-text" md-font-set="material-icons">person</md-icon>{{user.firstName}} {{user.name}}
				</span>
			</md-list-item>
		</md-list>
    </md-dialog-content>

    <div class="md-actions">
        <span flex></span>
        <md-button ng-click="hide()">Done</md-button>
    </div>
</md-dialog>

