<div class="toolbar" layout="column"><!-- layout-margin layout-align="center center"-->
	<form name="todoForm" novalidate class="input-holder md-whiteframe-3dp" layout="row" layout-align="center center" flex="100" flex-gt-md="45">
		<input type="text" flex="90" placeholder="Add new task" ng-model="taskList.name" required>
		<md-button class="md-icon-button md-primary text-right" flex aria-label="Add task" ng-disabled="todoForm.$invalid" ng-click="add(taskList);">
			<md-icon md-font-set="material-icons">add_circle</md-icon>
		</md-button>
	</form>

	<div layout="row" class="color-picker">
		<md-checkbox class="md-warn md-hue-3" ng-model="taskList.public" aria-label="Public">Public</md-checkbox>

		<md-fab-speed-dial md-open="isOpen" md-direction="right" class="md-scale">
			<md-fab-trigger>
				<md-button aria-label="Color" class="md-fab md-mini md-warn {{taskList.color}}-background">
					<md-icon md-font-set="material-icons"">color_lens</md-icon>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button ng-repeat="color in colors" ng-model="taskList.color" ng-click="setColor(color)" aria-label="{{color}}" class="md-fab md-mini {{color}}-background"></md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>
</div>

<md-content flex>
    <md-grid-list md-row-height-gt-md="4:4" md-row-height="2:2" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5" md-gutter="12px" md-gutter-gt-sm="8px" >
        <md-grid-tile ng-repeat="list in taskLists | orderBy: list.todos.length" class="{{list.color || 'gray'}}-background" class="md-whiteframe-5dp" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
			<md-grid-tile-header>
				<h3>{{list.name}}</h3>
			</md-grid-tile-header>

			<div ng-controller="TodoCtrl">
				<md-menu md-position-mode="target-right target" style="float: right">
					<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event);">
						<md-icon md-font-set="material-icons">add_circle</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<form>
								<md-input-container>
									<label>Title</label>
									<input required="required" ng-model="todo.name">
								</md-input-container>
							</form>
						</md-menu-item>
						<md-menu-item></md-menu-item>
						<md-menu-item>
							<md-button ng-click="addTodo(list)">
								<md-icon class="md-mini md-primary" md-menu-align-target md-font-set="material-icons">add_circle</md-icon>
								Add TODO
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>


				<md-list ng-cloak>
					<md-list-item ng-repeat="todo in list.todos">
						<md-checkbox ng-change="update(list, todo)" ng-model="todo.done" aria-label="Todo"></md-checkbox>
						<p>{{todo.name}}</p>
					</md-list-item>
				</md-list>
			</div>

			<md-grid-tile-footer ng-if="list.public">
                <h3>Public</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>